body {
    font-family: sans-serif;
}

header,
.footer {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

header,
.main,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.randInfo img {
    max-width: 10%;
}

.randInfo {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 70%;
    margin-left: 200px;
}

.info2,
.images,
h1 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: #1f2937;
    font-weight: bolder;
}

input {
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 10px 35px;
    text-align: center;
    font-size: 12px;
}

.quatation {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 15%;
}

.quatation h1 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.quatation h3 {
    font-weight: bolder;
    font-size: 20px;
    color: #1f2937;
    margin-inline-start: auto;
}

.box {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2%;
    font-weight: bolder;
}